<ion-view hide-nav-bar="false" hide-back-button="false" ng-init="listNews.getNotice()">
  <ion-content>
    <style>
      h3{
        color: green;
        font-size: 24px !important;
      }
      li{
        list-style: circle;
        margin-left: 10px;
      }
      strong{
        color: green;
        font-size: 18px;
      }
      .icon{
        font-size: 20px;
      }
    </style>
    <div class="card">
      <div class="item item-text-wrap">
        <h3>Radio Coomeva TV</h3>
        <p>
          Version 1.0.1<br /><br />
          2015 • Grupo Coomeva Colombia • Todos los derechos reservados. <br />
          Esta aplicación fue desarrollada por Comunicación Efectiva para el Grupo Coomeva
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
