<ion-view hide-nav-bar="false" hide-back-button="false" ng-init="listNews.getNotice()">
  <ion-content>
    <style>
      h3{
        color: green;
        font-size: 24px !important;
      }
      li{
        list-style: circle;
        margin-left: 10px;
      }
      strong{
        color: green;
        font-size: 18px;
      }
      .icon{
        font-size: 20px;
      }
    </style>
    <div class="card">
      <div class="item item-text-wrap">
        <h3>Ayuda</h3>
        <p>
          <ul>
            <li>La aplicación necesita conexión a internet.</li>
            <li>Por medio de la búsqueda puede encontrar un podcast o noticia especifica.</li>
            <li>La radio es de transmisión en vivo.</li>
          </ul><br />

          El menú principal se encuentra situado en la parte inferior de la aplicación y consta de 4 vínculos los cuales son: <br /><br />

          <strong>Radios: <i class="icon ion-radio-waves"></i></strong><br />
          Son las 3 emisoras de RadioCoomeva.TV, con enfoques distintos para cada gusto. <br /><br />

          <strong>Podcasts: <i class="icon ion-music-note"></i></strong><br />
          Programas de radio pre grabados con diferentes temas de salud, música, cultura y otros.<br /><br />

          <strong>Noticias: <i class="icon ion-ios-world-outline"></i></strong><br />
          Podrá informarse de noticias actuales, de interés y de eventos de Coomeva.<br /><br />

          <strong>Programas: <i class="icon ion-ios-videocam"></i></strong><br />
          Programas de TV Creados por Coomeva con temas distintos.

        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
