<ion-view>
  <ion-content padding="true">
    <!-- Radio Adulto Contemporaneo -->
    <div class="list card">

    	<a ui-sref="app.adulto" class="item item-image">
    		<img src="images/home/adulto-contemporaneo.jpg" />
    	</a>

		<a class="item item-icon-left item-icon-right assertive" ui-sref="app.adulto">
			<i class="icon ion-music-note"></i>
		    Escuchar ahora
		    <span class="badge badge-assertive">Live</span>
		</a>

    </div>

    <div class="list card">

    	<a ui-sref="app.instrumental" class="item item-image">
    		<img src="images/home/instrumental.jpg" />
    	</a>

  		<a class="item item-icon-left item-icon-right assertive" ui-sref="app.instrumental">
  			<i class="icon ion-music-note"></i>
  		    Escuchar ahora
  		    <span class="badge badge-assertive">Live</span>
  		</a>

    </div>

    <div class="list card">

    	<a ui-sref="app.jovenes" class="item item-image">
    		<img src="images/home/jovenes.jpg" />
    	</a>

  		<a class="item item-icon-left item-icon-right assertive" ui-sref="app.jovenes">
  			<i class="icon ion-music-note"></i>
  		    Escuchar ahora
  		    <span class="badge badge-assertive">Live</span>
  		</a>
    </div>
  </ion-content>
</ion-view>
