<ion-view hide-nav-bar="false" hide-back-button="false" ng-init="programList.getListCategory()">
  <ion-content>
    <div class="list card" ng-repeat="item in programCategories">
      <div class="item item-avatar">
        <img ng-src="{{item.image}}">
        <h2 ng-bind-html="item.name"></h2>
      </div>

      <div class="item item-body">
        <a ui-sref="app.programaCategory({programaCategory: item.URL})">
          <img class="full-image" ng-src="{{item.image}}">
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
