/* Empty. Add your own CSS if you like */
.back-button{
  color: #fff;
  font-size: 35px;
  padding-top: 1%;
  z-index: 1000;
}
/* MENU OPEN OPTIONS */
.menu-open ion-nav-back-button{
  display: none;
}
/* END MENU OPTIONS */
.bar.bar-header{
  background: url(../images/background-head2.jpg) no-repeat !important;
  background-size: 100% !important;
  height: 57px !important;
  border: none !important;
}
.bar.bar-header.item-input-inset{
  background: rgba(50, 75, 33, 0.5) !important;
}
.bar .title{
  color: white !important;
  text-align: left;
  font-size: 20px;
}
ion-side-menu > .bar.bar-header{
  background: #646464 !important;
  border-bottom: #363737 1px solid !important;
  height: 43px !important;
}
ion-side-menu ion-content.scroll-content{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#646464+0,353535+100 */
  background: #646464; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NjQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTM1MzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #646464 0%, #353535 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646464), color-stop(100%,#353535)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #646464 0%,#353535 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #646464 0%,#353535 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #646464 0%,#353535 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #646464 0%,#353535 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#353535',GradientType=0 ); /* IE6-8 */

}
.left-buttons .button,
.right-buttons .button{
  padding-left: 8px !important;
  padding-top: 6px !important;
  font-size: 17px !important;
}
.button.back-button{
  padding-top: 6px !important;
  padding-left: 2px !important;
}
.button.back-button:before{
  font-size: 38px !important;
}
.radio-adulto .item{
  background: #3C3E38 !important;
}
.radio-instrumental .item{
  background: #005567 !important;
}
.radio-jovenes .item{
  background: #C89400 !important;
}
.card.noticia{
  background: #fff !important;
}
.card.noticia .item > h2{
  color: #000 !important;
}
.card.noticia .item > p{
  color: #666;
  font-weight: bold;
}
.tabs{
  border: none !important;
  background: #454e3c !important;
  background-color: #454e3c !important;
}
.tab-item .icon{
  color: #a8b874;
}
.tab-item-active{
  border-color: #fff !important;
}
.tab-title{
  color: #a8b874;
}
.tab-item-active > .tab-title{
  color: #fff;
}
.tab-item-active .icon{
  color: white !important;
}
.scroll-content{
  background-image: url("../,,/../images/background-app.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.list{
  background: #646464; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NjQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTM1MzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #646464 0%, #353535 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646464), color-stop(100%,#353535)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #646464 0%,#353535 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #646464 0%,#353535 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #646464 0%,#353535 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #646464 0%,#353535 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#353535',GradientType=0 ); /* IE6-8 */

}
.list.card{
  background: rgba(50, 75, 33, 0.5);
}
.list .item{
  background: none;
  color: white;
  border-top: #706f6f 2px solid !important;
  border-bottom: #363737 2px solid !important;
}
.list.card .item{
  background: none;
  color: white;
  border-top: #706f6f 1px solid !important;
  border-bottom: #363737 1px solid !important;
}
.assertive, a.assertive{
  color: white;
}
.item.item-text-wrap{
  color: #444;
}
.item .item-content{
  background: none;
}
.item.item-divider{
  background: white;
  color: #444;
}
.item > h2{
  color: white;
}
.item > p{
  color: #ccc;
}
.item-icon-left .icon,
.item-icon-right .icon{
  color: #a6db4b;
}
.has-header{
  top: 33px;
}
.padding .card, .padding .list-inset{
  margin-left: 0;
  margin-right: 0;
}
.card .item, .list .item{
  border-left: 0;
  border-right: 0;
}
.item-avatar > img:first-child{
  height: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}

/* RADIOS */
.tabs-striped.radios-menu-down{
  position: relative;
  top: 40px;
}
.tabs-striped.radios-menu-down .tabs a img{
  width: 100%;
}
  /* Adulto */
  .radio-adulto{}
  .radio-adulto .item-image img{
    width: 88% !important;
  }
  .radio-adulto{}

ion-content.search-page{
  top: 57px !important;
}
.item-input-inset a{
  color: #fff;
  opacity: 0.9 !important;
}

.tabs-icon-bottom.tabs .tab-item, .tabs-icon-bottom>.tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-top>.tabs .tab-item{
  font-size: 12px;
}
